@import url('https://fonts.cdnfonts.com/css/chinese-rocks');

@font-face {
  font-family: MailBoxFont;
  src: url(../fonts/Passport-Regular.ttf);
}

body {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;

  display: none;
  
    text-align: center;
	justify-content: center;
	align-items: center;

  margin-left: -33.5%;
  margin-top: -26%;

}

#tpz_stables{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  margin-top: 105vh;

  background-image: url(../img/default.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: center;

  background-size: 100% 100%;

  opacity: 0.9;


  overflow: hidden;
  width: 30%;
  height: 32vh;
  
  justify-content: center;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

/* LEFT SIDE */
#center-side{
  border-radius: 5%;
  width: 78%;
  height: 100%;
  margin: 0% 0% 15% 0%;
}

#centerinfo{

	margin-top: 70%;
	margin-left: 1%;
    
}

/* General */

#main-name-title {
  position: absolute;
  display: inline-block;
  
	font-family: 'Chinese Rocks Rg', sans-serif;
  color: rgb(252, 252, 252);
	font-size: 1.1vw;
  font-weight: bold;

	width: 28%;
  height: fit-content;
  margin-top: -16.5vh;
  margin-left: 2vw;
	text-align: left;

  letter-spacing: 1px;

}

#main-speed-title, #main-stamina-title, #main-health-title, #main-acceleration-title, #main-handling-title,
#main-speed-value-title, #main-stamina-value-title, #main-health-value-title, #main-acceleration-value-title, #main-handling-value-title {
  position: absolute;
  display: inline-block;
  
	font-family: 'Chinese Rocks Rg', sans-serif;
  color: rgb(252, 252, 252);
	font-size: 0.95vw;

	width: 28%;
  margin-top: -28vh;
  margin-left: 2vw;
	text-align: left;

  letter-spacing: 0.5px;
}

#main-speed-title { margin-top: -10vh; }
#main-stamina-title { margin-top: -6vh; }
#main-health-title { margin-top: -2vh; }
#main-acceleration-title { margin-top: 2vh; }
#main-handling-title { margin-top: 6vh; }


#main-speed-value-title { margin-top: -10vh; margin-left: 25vw; }
#main-stamina-value-title { margin-top: -6vh;  margin-left: 25vw; }
#main-health-value-title { margin-top: -2vh;  margin-left: 25vw; }
#main-acceleration-value-title { margin-top: 2vh;  margin-left: 25vw; }
#main-handling-value-title { margin-top: 6vh;  margin-left: 25vw; }

#main-speed-progress-template, #main-stamina-progress-template, #main-health-progress-template,
#main-acceleration-progress-template, #main-handling-progress-template {
  position: absolute;
  display: inline-block;
  
  height: 1vw;
  width: 15%;
  max-width: 15%;

  margin-top: -10vh;
  margin-left: 8.5vw;

  background-color: rgba(48, 48, 48, 0.726);

  text-align: left;
}

#main-speed-progress-reaching-age-template, #main-stamina-progress-reaching-age-template,
#main-health-progress-reaching-age-template, #main-speed-acceleration-reaching-age-template,
#main-handling-acceleration-reaching-age-template {

  margin-top: -10vh; 
  margin-left: 8.5vw;
  background-color: rgba(255, 255, 255, 0.911); 

}

#main-speed-progress-template { margin-top: -10vh; } 
#main-stamina-progress-template  { margin-top: -6vh; }
#main-health-progress-template  { margin-top: -2vh; }
#main-acceleration-progress-template  { margin-top: 2vh; }
#main-handling-progress-template  { margin-top: 6vh; }

#main-speed-progress, #main-stamina-progress, 
#main-health-progress, #main-acceleration-progress,
#main-handling-progress {
  position: absolute;
  display: inline-block;
  
  height: 1vw;
  width: 0%;
  max-width: 15%;

  margin-top: -10vh;
  margin-left: 8.5vw;

  background-color: rgba(252, 252, 252, 0.726);

  text-align: left;
}

#main-speed-progress { margin-top: -10vh; }
#main-stamina-progress  { margin-top: -6vh; }
#main-health-progress  { margin-top: -2vh; }
#main-acceleration-progress  { margin-top: 2vh; }
#main-handling-progress  { margin-top: 6vh; }